body.gothic{

background:var(--bg);

color:var(--text);

}

body.pastel{

--bg:#FFF7FC;

--surface:#FFEFF6;

--surface-2:#FFDDEC;

--text:#40374D;

--text-soft:#776C87;

--border:#F4B9D6;

--primary:#F28DC1;

--primary-hover:#F7A6CF;

--secondary:#A995FF;

background:var(--bg);

color:var(--text);

}